.slider {
  display: flex;
  column-gap: 10px;
  overflow: hidden;

  & img {
    max-width: unset;
  }

  & > div:first-child {
    @include mobile{
      padding-left: 15px;
    }
  }
}

.slider__img {
  border-radius: 8px;

  @include mobile{
    height: 250px;
  }
}