@import url(https://fonts.googleapis.com/css?family=Manrope:300,regular,700,800);

html {
  scroll-behavior: smooth; /* плавная прокрутка страницы */
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  letter-spacing: 0.3px;
  color: #000;
}

a {
  color: #00AE6C;
  text-decoration: underline;
}

a:focus,
button:focus {
  outline-offset: 1px;
  outline: #005fcc auto 1px;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;

  &--large {
    max-width: 1510px;
    width: 100%;
  }

  @media (max-width: 1220px) { // с учётом браузерного скролла (~20px), чтобы он не появлялся, если разрешение экрана пользователя находится впритык к max-width
    width: 768px; // 738 под контент, 30 под падинги по бокам
  }

  @media (max-width: 788px) { // здесь тоже с учётом возможного скролла
    width: 360px; // 330 под контент, 30 под падинги по бокам
  }
}

.main {
  display: flex;
  flex-direction: column;
  row-gap: 120px;

  margin-bottom: 120px;
}

.title-section {
  font-size: 42px;
  font-weight: 800;
  line-height: 1.2;
  color: #000;
}

.none {
  display: none !important;
}